{% load static %}
<head>
  <title>ورود و ثبت نام</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/style.css' %}">
</head>
<body>
  <div class="container" id="container">
    <!-- sign in page -->
    <div class="form-container sign-in-container">
      <form method="POST" action="#" class="form" id="login">{% csrf_token %}
        <h1 class="form__title">ورود</h1>
        <div class="form__input-group">
          <label for="username">نام کاربری</label>
<!--          <input type="text" class="form__input" name="username" id="username" maxlength="20" required>-->
            {{ form.username }}
        </div>
        <div class="form__input-group">
          <label for="pass">رمز عبور</label>
<!--          <input type="password" class="form__input" name="pass" id="pass" maxlength="20" required>-->
            {{ form.password }}
        </div>
        <div class="form__input-group">
          <button type="submit" class="form__button">ورود</button>
        </div>
     </form>
    </div>

   <!--  create account page -->
   <div class="form-container sign-up-container">
     <form method="POST" action="#" class="form" id="register">{% csrf_token %}
       <h1 class="form__title">ثبت نام</h1>
       <div class="form__input-group">
         <label for="username"> نام کاربری</label>
<!--         <input type="text" class="form__input" name="username" id="username" maxlength="20" required>-->
           {{ form.username }}
       </div>
        <div class="form__input-group">
          <label for="pass">رمز عبور</label>
<!--          <input type="password" class="form__input" name="pass" id="pass" maxlength="20" required>-->
            {{ form.password }}
        </div>
       <button class="form__button" type="submit">ثبت نام</button>
     </form>
   </div>

   <div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>خوش آمدید!</h1>
				<p>لطفا بااطلاعات کاربری خود وارد شوید.</p>
				<button class="ghost" id="signIn">ورود</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>سلام !</h1>
				<p>جهت ثبت نام در سایت از این بخش اقدام نمایید.</p>
				<button class="ghost" id="signUp">ثبت نام</button>
			</div>
		</div>
	</div>
 </div>

  <script src="{% static 'registration/login/script.js' %}"></script>

</body>